{% extends 'pages/base.jinja' %}

 {% block title %}
    Flask demo - Hello!
 {% endblock %}

  {% block content %}
    <h2>Flask</h2>

    <p>This is my first Flask web app!!!</p>

    <h2></h2>
 {% endblock %}